* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-family: 'Arial', sans-serif;
  font-size: 1.04vw;
  color: #333333;
}
a {
  text-decoration: none;
}
.section-one {
  background-color: #ffffff;
  background-image: url("../img/background-section-one.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100vw 100vh;
  color: #ffffff;
  padding-top: 1.6vw;
}
@media (max-width: 480px) {
  .section-one {
    background: #7c3edd;
    padding-top: 0;
  }
}
.header {
  width: 90vw;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5vw;
}
@media (max-width: 480px) {
  .header {
    margin-top: 15vh;
    margin-bottom: 5vh;
  }
}
.logo__name {
  font-size: 1.872vw;
  font-weight: bold;
  display: block;
  width: max-content;
  margin-bottom: 0.4vw;
}
@media (max-width: 480px) {
  .logo__name {
    font-size: 10vw;
    margin-bottom: 2.5vh;
  }
}
.logo__description {
  font-size: 1.04vw;
}
@media (max-width: 480px) {
  .logo__description {
    display: inline-block;
    font-size: 4vw;
    width: 60vw;
  }
}
.nav {
  list-style-type: none;
}
@media (max-width: 480px) {
  .nav {
    display: none;
  }
}
.nav__item {
  display: inline-block;
  margin-left: 4.5vw;
}
.nav__item:nth-of-type(1) {
  margin-left: 0;
}
.nav__item_button-orange {
  margin-left: 4vw;
}
.nav__item_button-white {
  margin-left: 2vw;
}
.nav__link {
  color: #ffffff;
  transition: color 0.15s;
}
.nav__link:hover {
  color: #d9d9d9;
}
.nav__button_orange {
  display: block;
  width: 14vw;
  height: 2.1vw;
  line-height: 2.1vw;
  text-align: center;
  background-color: #f69841;
  border-radius: 1vw;
  color: #ffffff;
  font-size: 1.144vw;
  box-shadow: 0.05vw 0.05vw #da5a58, 0.1vw 0.1vw #da5a58, 0.15vw 0.15vw #da5a58, 0.2vw 0.2vw #da5a58, 0.25vw 0.25vw #da5a58, 0.3vw 0.3vw #da5a58, 0.35vw 0.35vw #da5a58;
  position: relative;
  top: -0.2vw;
}
.nav__button_white {
  display: block;
  width: 7vw;
  height: 2.3vw;
  line-height: 2.07vw;
  text-align: center;
  color: #ffffff;
  font-size: 1.144vw;
  border: 0.15vw solid #ffffff;
  border-radius: 1.8vw;
}
.section-one__content {
  width: 85vw;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 480px) {
  .section-join {
    display: none;
  }
}
@media (max-width: 480px) {
  .wrapper-illustration-section-one {
    margin: 0 auto;
  }
}
.section-join__header {
  font-size: 2.496vw;
  margin-bottom: 4vw;
}
.section-join__text {
  font-size: 1.3vw;
  width: 29vw;
  line-height: 1.8vw;
  margin-bottom: 5vw;
}
.section-join__button-orange {
  display: block;
  width: 17vw;
  height: 3vw;
  line-height: 3vw;
  text-align: center;
  background-color: #f69841;
  border-radius: 2vw;
  color: #ffffff;
  font-size: 1.144vw;
  box-shadow: 0.06vw 0.06vw #da5a58, 0.12vw 0.12vw #da5a58, 0.18vw 0.18vw #da5a58, 0.24vw 0.24vw #da5a58, 0.3vw 0.3vw #da5a58, 0.36vw 0.36vw #da5a58, 0.42vw 0.42vw #da5a58;
  font-size: 1.56vw;
  display: inline-block;
}
.section-join__button-white {
  display: block;
  width: 17vw;
  height: 3vw;
  line-height: 2.7vw;
  text-align: center;
  color: #ffffff;
  font-size: 1.144vw;
  border: 0.2vw solid #ffffff;
  border-radius: 2vw;
  font-size: 1.56vw;
  display: inline-block;
}
.section-join__text-or {
  font-weight: bold;
  font-size: 1.144vw;
  margin: 0 1.5vw 0 1.5vw;
}
.mobile-buttons-section-one {
  display: none;
  text-align: center;
}
@media (max-width: 480px) {
  .mobile-buttons-section-one {
    display: block;
  }
}
.mobile-buttons-section-one__item {
  display: inline-block;
}
.mobile-buttons-section-one__item:nth-of-type(2) {
  margin-left: 5vw;
}
.mobile-buttons-section-one__button-orange {
  display: block;
  width: 50vw;
  height: 5vh;
  line-height: 5vh;
  text-align: center;
  background-color: #f69841;
  border-radius: 6vw;
  color: #ffffff;
  font-size: 1.144vw;
  box-shadow: 0.2vw 0.2vw #da5a58, 0.4vw 0.4vw #da5a58, 0.6vw 0.6vw #da5a58, 0.8vw 0.8vw #da5a58, 1vw 1vw #da5a58, 1.2vw 1.2vw #da5a58, 1.4vw 1.4vw #da5a58;
  position: relative;
  top: -0.2vw;
  font-size: 3.75vw;
}
.mobile-buttons-section-one__button-white {
  display: block;
  width: 25vw;
  height: 5vh;
  line-height: 4.5vh;
  text-align: center;
  color: #ffffff;
  font-size: 1.144vw;
  border: 0.5vw solid #ffffff;
  border-radius: 6vw;
  font-size: 3.75vw;
}
.section-two {
  padding-top: 2.5vw;
}
.section-two__header {
  font-size: 2.496vw;
  text-align: center;
  margin-bottom: 2.5vw;
}
.section-two__content-list {
  width: 80vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 20vw 20vw 20vw 20vw;
  grid-template-rows: auto auto;
  margin-bottom: 1.5vw;
}
.content-list__image {
  border: 0.15vw solid #808080;
  width: 12vw;
  height: auto;
  margin-bottom: 0.5vw;
  border-radius: 1.5vw;
  box-shadow: 0.05vw 0.05vw #808080, 0.1vw 0.1vw #808080, 0.15vw 0.15vw #808080, 0.2vw 0.2vw #808080, 0.25vw 0.25vw #808080, 0.3vw 0.3vw #808080, 0.35vw 0.35vw #808080;
}
.content-list__item {
  padding: 1vw 3vw;
  text-align: center;
}
.content-list__name {
  font-size: 1.144vw;
  font-weight: bold;
  color: #333333;
}
.section-two__link-to-feedback {
  text-align: right;
  float: right;
  margin-right: 5vw;
  color: #333333;
  font-size: 1.144vw;
  text-decoration: underline;
  font-weight: bold;
}
.section-two__triangle-box-left {
  width: 0;
  height: 0;
  border-width: 1.5vw;
  border-style: solid;
  border-color: #7c3edd;
  border-top-color: transparent;
  border-bottom-color: transparent;
  border-left-style: none;
  border-right: 2.25vw solid #7c3edd;
  position: absolute;
  top: 23vw;
  left: 3.5vw;
}
.section-two__triangle-box-right {
  width: 0;
  height: 0;
  border-width: 1.5vw;
  border-style: solid;
  border-color: #7c3edd;
  border-top-color: transparent;
  border-bottom-color: transparent;
  border-right-style: none;
  border-left: 2.25vw solid #7c3edd;
  position: absolute;
  top: 23vw;
  right: 3.5vw;
}
.link-to-feedback__triangle-box-right {
  width: 0;
  height: 0;
  border-width: 0.6vw;
  border-style: solid;
  border-color: #7c3edd;
  border-top-color: transparent;
  border-bottom-color: transparent;
  border-right-style: none;
  border-left: 0.9vw solid #7c3edd;
  display: inline-block;
  position: relative;
  top: 0.2vw;
  left: 0.6vw;
}
.section-three {
  background-color: #ffffff;
  background-image: url("../img/background-section-three.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100vw 100vh;
  color: #ffffff;
  padding-top: 5vh;
}
.section-three__header {
  font-size: 2.496vw;
  text-align: center;
  margin-bottom: 12vh;
  color: #333333;
}
.section-three-content {
  width: 80vw;
  height: 80vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.section-three-content__header {
  font-size: 1.872vw;
  margin-bottom: 3vh;
}
.section-three-content__text {
  font-size: 1.56vw;
  width: 35vw;
}
.section-three-content__item {
  width: 40vw;
}
.section-three-content__item-two {
  margin-top: 10vh;
  margin-left: 1vw;
}
.section-three-content__item-three {
  text-align: right;
  margin-top: -10vh;
  margin-left: -6vw;
  margin-bottom: 4vh;
}
.section-four {
  color: #333333;
  padding-top: 2.5vw;
}
.section-four__header {
  font-size: 2.496vw;
  text-align: center;
  margin-bottom: 12vh;
  color: #333333;
}
.section-four-content {
  width: 80vw;
  height: 80vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.section-four-content__header {
  font-size: 1.872vw;
  margin-bottom: 3vh;
}
.section-four-content__text {
  font-size: 1.56vw;
  width: 35vw;
}
.section-four-content__item {
  width: 40vw;
}
.section-four-content__item-two {
  margin-top: 10vh;
  margin-left: 1vw;
}
.section-four-content__item-three {
  text-align: right;
  margin-top: -10vh;
  margin-left: -6vw;
  margin-bottom: 4vh;
}
.section-five {
  padding-top: 2vw;
}
.section-five__header {
  font-size: 2.496vw;
  text-align: center;
  margin-bottom: 2vw;
}
.feedback-box-form {
  width: 70vw;
  margin: 0 auto;
  background-color: #fcf4ed;
  box-shadow: 0.07vw 0.07vw #da5a58, 0.14vw 0.14vw #da5a58, 0.21vw 0.21vw #da5a58, 0.28vw 0.28vw #da5a58, 0.35vw 0.35vw #da5a58, 0.42vw 0.42vw #da5a58, 0.49vw 0.49vw #da5a58;
  border-radius: 1vw;
  text-align: center;
}
.feedback-form {
  padding: 2vw 0;
  width: 30vw;
  margin: 0 auto;
}
.feedback-form__item {
  margin-bottom: 1.5vw;
  display: flex;
  justify-content: space-between;
}
.feedback-form__item-name {
  font-size: 1.456vw;
  font-weight: bold;
}
.feedback-form__item-input {
  width: 15vw;
  height: 1.8vw;
  border: 0.15vw solid #808080;
  border-radius: 1vw;
}
.feedback-form__item-input-textarea {
  height: 5vw;
}
.feedback-form__item-checkbox-name {
  font-size: 1.04vw;
  font-weight: bold;
  margin-bottom: 1vw;
}
.feedback-form__button_orange {
  display: block;
  width: 30vw;
  height: 2.5vw;
  line-height: 2.5vw;
  text-align: center;
  background-color: #f69841;
  border-radius: 2vw;
  color: #ffffff;
  font-size: 1.144vw;
  box-shadow: 0.05vw 0.05vw #da5a58, 0.1vw 0.1vw #da5a58, 0.15vw 0.15vw #da5a58, 0.2vw 0.2vw #da5a58, 0.25vw 0.25vw #da5a58, 0.3vw 0.3vw #da5a58, 0.35vw 0.35vw #da5a58;
  border: 0;
  font-size: 1.56vw;
}
.footer {
  width: 100vw;
  background-color: #7c3edd;
  position: absolute;
  bottom: 0;
  color: #ffffff;
  display: flex;
  justify-content: space-around;
  padding-top: 1.5vw;
}
.footer__logo {
  margin-bottom: 1vw;
}
.contacts__item {
  display: block;
}
.contacts__item:nth-of-type(1) {
  margin-bottom: 0.3vw;
}
.contacts__item:nth-of-type(1)::before {
  content: '';
  display: inline-block;
  width: 1.2vw;
  height: 1.2vw;
  background: #7c3edd url("../img/phone-number-icon.png") center center no-repeat;
  background-size: contain;
  margin-right: 0.5vw;
}
.contacts__item:nth-of-type(2)::before {
  content: '';
  display: inline-block;
  width: 1.2vw;
  height: 1.2vw;
  background: #7c3edd url("../img/map-icon.png") center center no-repeat;
  background-size: contain;
  margin-right: 0.5vw;
}
.footer__footer-section-two {
  width: 34vw;
}
.footer-nav {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.footer-nav__item {
  margin-right: 2.5vw;
  margin-bottom: 2vw;
}
.footer-nav__item:last-of-type {
  margin-right: 0;
}
.footer-nav__link {
  color: #ffffff;
}
.footer-social-network {
  margin: 0 auto;
  width: 14vw;
  display: flex;
  list-style-type: none;
  justify-content: space-between;
}
.footer-social-network__item {
  width: 3.5vw;
  height: auto;
}
.footer__footer-section-three h3 {
  margin-bottom: 3vh;
  font-size: 1.04vw;
  font-weight: normal;
}
.footer__footer-section-three .form-distribution .field-email-distribution {
  width: 15vw;
  height: 1.8vw;
  border: 0.15vw solid #ffffff;
  border-radius: 1vw;
  margin-bottom: 3vh;
  margin-left: 2vw;
}
.footer__footer-section-three .form-distribution .button-to-email-distribution {
  display: block;
  width: 100%;
  height: 2vw;
  line-height: 2vw;
  text-align: center;
  background-color: #f69841;
  border-radius: 1.5vw;
  color: #ffffff;
  font-size: 1.144vw;
  box-shadow: 0.04vw 0.04vw #da5a58, 0.08vw 0.08vw #da5a58, 0.12vw 0.12vw #da5a58, 0.16vw 0.16vw #da5a58, 0.2vw 0.2vw #da5a58, 0.24vw 0.24vw #da5a58, 0.28vw 0.28vw #da5a58;
  border: none;
}
.illustration {
  width: 22vw;
  height: auto;
}
.illustration-section-one {
  width: 26vw;
  height: auto;
  margin-right: 8vw;
}
@media (max-width: 480px) {
  .illustration-section-one {
    width: 65vw;
    margin-right: 0;
    margin-bottom: 6vh;
  }
}
/*

1vw = 15.36px

название SS - 36pt 3.12vw
описание - 22pt 1.9vw

nav__link - 20pt 1.73vw
nav__button - 22pt 1.9vw

Присоединяйяс - 60pt 5.2vw
text - 24pt 2.08vw
content__button - 30pt 2.6vw


12pt = 16px
1pt = 1,333333px
1pt = 0,08680556px

*/
/*# sourceMappingURL=styles.css.map */