* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Arial', sans-serif;
  font-size: @font-size;
  color: #333333;
}

a {
  text-decoration: none;
}

@font-size: 1.04vw;
@path-to-background-section-one: '../img/background-section-one.png';
@path-to-background-section-three: '../img/background-section-three.png';
@color-button-orange: #f69841;
@color-shadow-orange: #da5a58;
@color-triangle: #7c3edd;
@color-feedback-form: #fcf4ed;

@mobile: ~'(max-width: 480px)';

.position-horizontally-centered() {
  margin: 0 auto;
}

.set-background-image-section(@path) {
  background-color: #ffffff;
  background-image: url("@{path}");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100vw 100vh;
}

.set-font-logo-name() {
  font-size: @font-size * 1.8;
}

.set-font-logo-description() {
  font-size: @font-size;
}

.set-font-h2() {
  font-size: @font-size * 2.4;
}

.set-font-h3() {
  font-size: @font-size * 1.8;
}

.set-font-section-join-text() {
  font-size: @font-size * 1.25;
}

.set-font-main-text() {
  font-size: @font-size * 1.5;
}

.set-standard-flex() {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.set-box-shadow(@size-shadow: 0.05vw; @color-shadow) {
  box-shadow:
          @size-shadow @size-shadow @color-shadow,
            @size-shadow * 2 @size-shadow * 2 @color-shadow,
            @size-shadow * 3 @size-shadow * 3 @color-shadow,
            @size-shadow * 4 @size-shadow * 4 @color-shadow,
            @size-shadow * 5 @size-shadow * 5 @color-shadow,
            @size-shadow * 6 @size-shadow * 6 @color-shadow,
            @size-shadow * 7 @size-shadow * 7 @color-shadow;
}

.section-one {
  .set-background-image-section(@path-to-background-section-one);
  color: #ffffff;
  padding-top: 1.6vw;

  @media @mobile {
    background: #7c3edd;
    padding-top: 0;
    height: 100vh;
  }
}

.header {
  width: 90vw;
  .position-horizontally-centered;
  .set-standard-flex;
  margin-bottom: 5vw;

  @media @mobile {
    margin-top: 6.5vh;
    margin-bottom: 5vh;
    height: 15vh;
  }
}

.logo__name {
  .set-font-logo-name;
  font-weight: bold;
  display: block;
  width: max-content;
  margin-bottom: 0.4vw;

  @media @mobile {
    font-size: 5.5vh;
    margin-bottom: 2.5vh;
  }
}

.logo__description {
  .set-font-logo-description;

  @media @mobile {
    display: inline-block;
    font-size: 2.5vh;
    //width: 60vw;

  }
}

.br-logo__description {
  display: none;

  @media @mobile {
    display: block;
  }
}

.nav {
  list-style-type: none;

  @media @mobile {
    display: none;
  }
}

.nav__item {
  display: inline-block;
  margin-left: 4.5vw;
}

.nav__item:nth-of-type(1) {
  margin-left: 0;
}

.nav__item_button-orange {
  margin-left: 4vw;
}

.nav__item_button-white {
  margin-left: 2vw;
}

.nav__link {
  color: #ffffff;
  transition: color 0.15s;
}

.nav__link:hover {
  color: darken(#ffffff, 15%);
}

.create-button-orange(@width: 12vw; @height: 2vw; @border-radius: 1vw; @size-shadow: 0.05vw) {
  display: block;
  width: @width;
  height: @height;
  line-height: @height;
  text-align: center;
  background-color: @color-button-orange;
  border-radius: @border-radius;
  color: #ffffff;
  font-size: @font-size * 1.1;
  .set-box-shadow(@size-shadow; @color-shadow-orange);
}

.create-button-white(@width: 7vw; @height: 2.3vw; @border-radius: 1vw; @border-width: 0.15vw) {
  display: block;
  width: @width;
  height: @height;
  line-height: @height * 0.9;
  text-align: center;
  color: #ffffff;
  font-size: @font-size * 1.1;
  border: @border-width solid #ffffff;
  border-radius: @border-radius;
}

.triangle(@_; @size; @color) {
  width: 0;
  height: 0;
  border-width: @size;
  border-style: solid;
  border-color: @color;
}

.triangle(right; @size; @color) {
  border-top-color: transparent;
  border-bottom-color: transparent;
  border-right-style: none;
  border-left: @size * 1.5 solid @color;
}

.triangle(left; @size; @color) {
  border-top-color: transparent;
  border-bottom-color: transparent;
  border-left-style: none;
  border-right: @size * 1.5 solid @color;
}

.nav__button_orange {
  .create-button-orange(14vw; 2.1vw; 1vw; 0.05vw);
  position: relative;
  top: -0.2vw;
}

.nav__button_white {
  .create-button-white(7vw; 2.3vw; 1.8vw; 0.15vw);
}

.section-one__content {
  width: 85vw;
  .position-horizontally-centered;
  .set-standard-flex;
}

.section-join {
  @media @mobile {
    display: none;
  }
}

.wrapper-illustration-section-one {
  @media @mobile {
    .position-horizontally-centered;
  }
}

.section-join__header {
  .set-font-h2;
  margin-bottom: 4vw;
}

.section-join__text {
  .set-font-section-join-text;
  width: 29vw;
  line-height: 1.8vw;
  margin-bottom: 5vw;
}

.section-join__button-orange {
  .create-button-orange(17vw; 3vw; 2vw; 0.06vw);
  .set-font-main-text;
  display: inline-block;
}

.section-join__button-white {
  .create-button-white(17vw; 3vw; 2vw; 0.2vw);
  .set-font-main-text;
  display: inline-block;
}

.section-join__text-or {
  font-weight: bold;
  font-size: @font-size * 1.1;
  margin: 0 1.5vw 0 1.5vw;
}

.mobile-buttons-section-one {
  display: none;

  @media @mobile {
    display: block;
    text-align: center;
    margin-bottom: 6vh;
  }
}

.mobile-buttons-section-one__item {
  display: inline-block;
}

.mobile-buttons-section-one__item:nth-of-type(2) {
  margin-left: 3vh;
}

.mobile-buttons-section-one__button-orange {
  .create-button-orange(26.5vh; 5vh; 6vw; 0.2vw);
  position: relative;
  top: -0.2vw;
  font-size: 2.1vh;
}

.mobile-buttons-section-one__button-white {
  .create-button-white(17vh; 5vh; 6vw; 0.5vw);
  font-size: 2.1vh;
}

.section-one__wrapper-arrow-bottom {
  display: none;

  @media @mobile {
    display: block;
  }
}

.section-one__arrow-bottom {
  display: none;
  height: 4vh;
  width: auto;
  .position-horizontally-centered;

  @media @mobile {
    display: block;
  }
}

.section-two {
  padding-top: 2.5vw;

  @media @mobile {
    padding-top: 3vh;
  }
}

.section-two__header {
  .set-font-h2;
  text-align: center;
  margin-bottom: 2.5vw;

  @media @mobile {
    display: none;
  }
}

.mobile-wrapper-section-two__header {
  display: none;

  @media @mobile {
    display: block;

    width: 100vw;
    background-color: #7c3edd;
    padding: 1vh 0 1vh 2vh;
    margin-bottom: 5vh;
  }
}

.mobile-section-two__header {
  display: none;

  @media @mobile {
    display: block;
    width: 35vh;
    font-size: 4vh;
    color: #ffffff;
  }
}

.section-two__content-list {
  width: 80vw;
  .position-horizontally-centered;
  display: grid;
  grid-template-columns: 20vw 20vw 20vw 20vw;
  grid-template-rows: auto auto;
  margin-bottom: 1.5vw;

  @media @mobile {
    width: 85vw;
    height: 50vh;

    grid-template-columns: 85vw;
    grid-template-rows: 30vh 30vh;
    overflow: hidden;

    margin-bottom: 1.5vh;
  }
}

.content-list__image {
  border: 0.15vw solid #808080;
  width: 12vw;
  height: auto;
  margin-bottom: 0.5vw;
  border-radius: 1.5vw;
  .set-box-shadow(0.05vw; #808080);

  @media @mobile {
    width: 78vw;
    height: 15vh;

    margin-bottom: 1vh;
    border-radius: 2vh;

    border: 0.35vh solid #808080;
    .set-box-shadow(0.1vh; #808080);
  }
}

.content-list__item {
  padding: 1vw 3vw;
  text-align: center;
}

.content-list__name {
  font-size: @font-size * 1.1;
  font-weight: bold;
  color: #333333;

  @media @mobile {
    display: block;
    font-size: 2vh;
  }
}

.section-two__link-to-feedback {
  float: right;
  margin-right: 5vw;
  color: #333333;
  font-size: @font-size * 1.1;
  text-decoration: underline;
  font-weight: bold;

  @media @mobile {
    float: left;
    //display: block;
    margin-right: 0;
    font-size: 3.2vw;
    margin-left: 6vw;
  }
}

.mobile-arrow-left {
  display: none;

  @media @mobile {
    display: block;
    position: absolute;
    top: 48vh;
    left: 15vw;
    font-size: 4.5vw;
    font-weight: bold;
  }
}

.mobile-arrow-left::before {
    content: '';
    display: inline-block;
    width: 20vw;
    height: 1.5vh;
    background: #ffffff url("../img/arrow-left.png") center center no-repeat;
    background-size: contain;
    margin-right: 0.5vw;
}

.mobile-arrow-left::after {
    content: '';
    display: inline-block;
    width: 13vw;
    height: 1.5vh;
    background: #ffffff url("../img/arrow-left-continue.png") center center no-repeat;
    background-size: contain;
    margin-right: 0.5vw;
    margin-left: 3vw;
}

.section-two__triangle-box-left {
  .triangle(left; 1.5vw; @color-triangle);
  position: absolute;
  top: 23vw;
  left: 3.5vw;

  @media @mobile {
    display: none;
  }
}

.section-two__triangle-box-right {
  .triangle(right; 1.5vw; @color-triangle);
  position: absolute;
  top: 23vw;
  right: 3.5vw;

  @media @mobile {
    display: none;
  }
}

.link-to-feedback__triangle-box-right {
  .triangle(right; .6vw; @color-triangle);
  display: inline-block;
  position: relative;
  top: .2vw;
  left: .6vw;

  @media @mobile {
    .triangle(right; 1.1vh; @color-triangle);
    top: .5vh;
    left: .8vh;
  }
}

.section-three {
  .set-background-image-section(@path-to-background-section-three);
  color: #ffffff;
  padding-top: 5vh;

  @media @mobile {
    background: #ffffff;
    color: #333333;
  }
}

.section-three__header {
  .set-font-h2;
  text-align: center;
  margin-bottom: 12vh;
  color: #333333;

  @media @mobile {
    display: none;
  }
}

.section-three-content {
  width: 80vw;
  height: 80vh;
  .position-horizontally-centered;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  @media @mobile {
    display: none;
  }
}

.mobile-section-three-content {
  display: none;

  @media @mobile {
    display: block;

  }
}

.section-three-content__header {
  .set-font-h3;
  margin-bottom: 3vh;
}


.mobile-section-three-content__illustration {
  width: 70vw;
  height: 35vh;
}

.mobile-section-three-content__wrapper-illustration {
  margin-bottom: 5vh;
  text-align: center;
}

.mobile-section-three-content__text-wrapper {
  font-size: 2.5vh;
  margin-bottom: 5vh;
}

.mobile-section-three-content__text-item {
  display: block;
  width: 85vw;
  .position-horizontally-centered;
}

.mobile-section-three-content__text-item:nth-of-type(1) {
  margin-bottom: 2vh;
}

.mobile-section-three-content__button-orange {
  .create-button-orange(80vw; 5vh; 3vw; 0.25vw);
  display: block;
  font-size: 2vh;
  .position-horizontally-centered;
}

.mobile-section-three-content__button-orange:nth-of-type(1) {
  margin-bottom: 2vh;
}


.mobile-section-three-content__span-or {
  display: block;
  margin-bottom: 2vh;
  font-size: 2vh;
}

.mobile-section-three-content__buttons-wrapper {
  text-align: center;
}

.section-three-content__text {
  .set-font-main-text;
  width: 35vw;
}

.section-three-content__item {
  width: 40vw;
}

.section-three-content__item-two {
  margin-top: 10vh;
  margin-left: 1vw;
}

.section-three-content__item-three {
  text-align: right;
  margin-top: -10vh;
  margin-left: -6vw;
  margin-bottom: 4vh;
}



.section-four {
  color: #333333;
  padding-top: 2.5vw;
}

.section-four__header {
  .set-font-h2;
  text-align: center;
  margin-bottom: 12vh;
  color: #333333;
}

.section-four-content {
  width: 80vw;
  height: 80vh;
  .position-horizontally-centered;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.section-four-content__header {
  .set-font-h3;
  margin-bottom: 3vh;
}

.section-four-content__text {
  .set-font-main-text;
  width: 35vw;
}

.section-four-content__item {
  width: 40vw;
}

.section-four-content__item-two {
  margin-top: 10vh;
  margin-left: 1vw;
}

.section-four-content__item-three {
  text-align: right;
  margin-top: -10vh;
  margin-left: -6vw;
  margin-bottom: 4vh;
}





.section-five {
  padding-top: 2vw;
}

.section-five__header {
  .set-font-h2;
  text-align: center;
  margin-bottom: 2vw;
}

.feedback-box-form {
  width: 70vw;
  .position-horizontally-centered;
  background-color: @color-feedback-form;
  .set-box-shadow(0.07vw; @color-shadow-orange);
  border-radius: 1vw;
  text-align: center;
}

.feedback-form {
  padding: 2vw 0;
  width: 30vw;
  .position-horizontally-centered;
}

.feedback-form__item {
  margin-bottom: 1.5vw;
  display: flex;
  justify-content: space-between;
}

.feedback-form__item-name {
  font-size: @font-size * 1.4;
  font-weight: bold;
}

.feedback-form__item-input {
  width: 15vw;
  height: 1.8vw;
  border: .15vw solid #808080;
  border-radius: 1vw;
}

.feedback-form__item-input-textarea {
  height: 5vw;
}

.feedback-form__item-checkbox-name {
  font-size: @font-size;
  font-weight: bold;
  margin-bottom: 1vw;
}

.feedback-form__button_orange {
  .create-button-orange(30vw; 2.5vw; 2vw; 0.05vw);
  border: 0;
  .set-font-main-text;
}


.footer {
  width: 100vw;
  background-color: @color-triangle;
  position: absolute;
  bottom: 0;
  color: #ffffff;
  display: flex;
  justify-content: space-around;
  padding-top: 1.5vw;
}

.footer__logo {
  margin-bottom: 1vw;
}

.contacts__item {
  display: block;
}

.contacts__item:nth-of-type(1) {
  margin-bottom: .3vw;
}

.contacts__item:nth-of-type(1)::before {
  content: '';
  display: inline-block;
  width: 1.2vw;
  height: 1.2vw;
  background: #7c3edd url("../img/phone-number-icon.png") center center no-repeat;
  background-size: contain;
  margin-right: 0.5vw;
}
.contacts__item:nth-of-type(2)::before {
  content: '';
  display: inline-block;
  width: 1.2vw;
  height: 1.2vw;
  background: #7c3edd url("../img/map-icon.png") center center no-repeat;
  background-size: contain;
  margin-right: 0.5vw;
}

.footer__footer-section-two {
  width: 34vw;
}

.footer-nav {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.footer-nav__item {
  margin-right: 2.5vw;
  margin-bottom: 2vw;
}

.footer-nav__item:last-of-type {
  margin-right: 0;
}

.footer-nav__link {
  color: #ffffff;
}

.footer-social-network {
  .position-horizontally-centered;
  width: 14vw;
  display: flex;
  list-style-type: none;
  justify-content: space-between;
}

.footer-social-network__item {
  width: 3.5vw;
  height: auto;
}

.footer__footer-section-three {
  h3 {
    margin-bottom: 3vh;
    font-size: @font-size;
    font-weight: normal;
  }

  .form-distribution {
    .field-email-distribution {
      width: 15vw;
      height: 1.8vw;
      border: .15vw solid #ffffff;
      border-radius: 1vw;
      margin-bottom: 3vh;
      margin-left: 2vw;
    }

    .button-to-email-distribution {
      display: block;
      .create-button-orange(100%; 2vw; 1.5vw; 0.04vw);
      border: none;
    }
  }
}





.illustration {
  width: 22vw;
  height: auto;
}

.illustration-section-one {
  width: 26vw;
  height: auto;
  margin-right: 8vw;

  @media @mobile {
    height: 35vh;
    width: auto;
    margin-right: 0;
    margin-bottom: 6vh;
  }
}












/*

1vw = 15.36px

название SS - 36pt 3.12vw
описание - 22pt 1.9vw

nav__link - 20pt 1.73vw
nav__button - 22pt 1.9vw

Присоединяйяс - 60pt 5.2vw
text - 24pt 2.08vw
content__button - 30pt 2.6vw


12pt = 16px
1pt = 1,333333px
1pt = 0,08680556px

*/