/* 
main {
    width: 100vw;
    height: 1723px;
    background: #ffffff url(../img/news.jpg) no-repeat;
    background-size: contain;
}
*/

* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    color: #333333;
}


main {
    /* border: 100px solid red; */
}

main img {
    width: 100%;
    height: auto;
}






a {
    text-decoration: none;
}

.header {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* margin-bottom: 5vw; */
    color: #ffffff;
    padding: 1vw 0 1vw 0;
    background: linear-gradient(45deg, #6A00C6, #8E3CE2);
}

@media (max-width: 480px) {
    .header {
        margin-top: 6.5vh;
        margin-bottom: 5vh;
        height: 15vh;
    }
}

.logo__name {
    font-size: 1.872vw;
    font-weight: bold;
    display: block;
    width: max-content;
    margin-bottom: 0.4vw;
}

@media (max-width: 480px) {
    .logo__name {
        font-size: 5.5vh;
        margin-bottom: 2.5vh;
    }
}

.logo__description {
    font-size: 1.04vw;
}

@media (max-width: 480px) {
    .logo__description {
        display: inline-block;
        font-size: 2.5vh;
    }
}

.br-logo__description {
    display: none;
}

@media (max-width: 480px) {
    .br-logo__description {
        display: block;
    }
}

.nav {
    list-style-type: none;
}

@media (max-width: 480px) {
    .nav {
        display: none;
    }
}

.nav__item {
    display: inline-block;
    margin-left: 4.5vw;
}

.nav__item:nth-of-type(1) {
    margin-left: 0;
}

.nav__item_button-orange {
    margin-left: 4vw;
}

.nav__item_button-white {
    margin-left: 2vw;
}

.nav__link {
    color: #ffffff;
    transition: color 0.15s;
}

.nav__link:hover {
    color: #d9d9d9;
}

.nav__button_orange {
    display: block;
    width: 14vw;
    height: 2.1vw;
    line-height: 2.1vw;
    text-align: center;
    background-color: #f69841;
    border-radius: 1vw;
    color: #ffffff;
    font-size: 1.144vw;
    box-shadow: 0.05vw 0.05vw #da5a58, 0.1vw 0.1vw #da5a58, 0.15vw 0.15vw #da5a58, 0.2vw 0.2vw #da5a58, 0.25vw 0.25vw #da5a58, 0.3vw 0.3vw #da5a58, 0.35vw 0.35vw #da5a58;
    position: relative;
    top: -0.2vw;
}

.nav__button_white {
    display: block;
    width: 7vw;
    height: 2.3vw;
    line-height: 2.07vw;
    text-align: center;
    color: #ffffff;
    font-size: 1.144vw;
    border: 0.15vw solid #ffffff;
    border-radius: 1.8vw;
}

.footer {
    width: 100%;
    background-color: #7c3edd;
    position: absolute;
    color: #ffffff;
    display: flex;
    justify-content: space-around;
    padding-top: 1.5vw;
    align-items: center;
}

@media (max-width: 480px) {
    .footer {
        /* top: 0; */
        color: #333333;
        flex-direction: column;
        justify-content: space-between;
        background-color: #ffffff;
        display: block;
    }
}

.footer__logo {
    margin-bottom: 1vw;
}

@media (max-width: 480px) {
    .footer__logo {
        background-color: #7c3edd;
        padding: 5vw 5vw;
        color: #ffffff;
        width: 100vw;
        margin-bottom: 3vh;
    }
}

@media (max-width: 480px) {
    .footer__logo .logo__description {
        width: 65vw;
    }
}

@media (max-width: 480px) {
    .footer__logo .logo__name {
        margin-bottom: 2vh;
    }
}

@media (max-width: 480px) {
    .footer-section-one__contacts {
        margin-left: 5vw;
        margin-bottom: 5vh;
    }
}

.contacts__item {
    display: block;
}

@media (max-width: 480px) {
    .contacts__item {
        font-size: 4.5vw;
        width: max-content;
    }
}

.contacts__item:nth-of-type(1) {
    margin-bottom: .3vw;
}

.contacts__item:nth-of-type(1)::before {
    content: '';
    display: inline-block;
    width: 1.2vw;
    height: 1.2vw;
    background: #7c3edd url("../img/phone-number-icon.png") center center no-repeat;
    background-size: contain;
    margin-right: .75vw;
}

@media (max-width: 480px) {
    .contacts__item:nth-of-type(1)::before {
        background-color: #ffffff;
        width: 6vw;
        height: 6vw;
        border: .5vw solid #848484;
        border-radius: 50%;
        position: relative;
        top: 1vh;
        margin-right: 1.5vw;
    }
}

.contacts__item:nth-of-type(2)::before {
    content: '';
    display: inline-block;
    width: 1.2vw;
    height: 1.2vw;
    background: #7c3edd url("../img/map-icon.png") center center no-repeat;
    background-size: contain;
    margin-right: .75vw;
}

@media (max-width: 480px) {
    .contacts__item:nth-of-type(2)::before {
        background-color: #ffffff;
        width: 6vw;
        height: 6vw;
        border: .5vw solid #848484;
        border-radius: 50%;
        position: relative;
        top: 1vh;
        margin-right: 1.5vw;
    }
}

.footer__footer-section-two {
    width: 34vw;
}

@media (max-width: 480px) {
    .footer__footer-section-two {
        width: 80vw;
        font-size: 5vw;
        margin: 0 auto;
        margin-bottom: 5vh;
    }
}

@media (max-width: 480px) {
    .mobile-lk-display-none {
        display: none;
    }
}

.footer-nav {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

@media (max-width: 480px) {
    .footer-nav {
        margin-bottom: 1vh;
    }
}

.footer-nav__item {
    margin-right: 2.5vw;
    margin-bottom: 2vw;
}

.footer-nav__item:last-of-type {
    margin-right: 0;
}

.footer-nav__link {
    color: #ffffff;
}

@media (max-width: 480px) {
    .footer-nav__link {
        color: #000000;
    }
}

.footer-social-network {
    margin: 0 auto;
    width: 14vw;
    display: flex;
    list-style-type: none;
    justify-content: space-between;
}

@media (max-width: 480px) {
    .footer-social-network {
        width: 40vw;
        display: none;
    }
}

.footer-social-network__item {
    width: 3.5vw;
    height: auto;
}

@media (max-width: 480px) {
    .footer-social-network__item {
        width: 10vw;
    }
}

.mobile-footer-social-network {
    display: none;
}

@media (max-width: 480px) {
    .mobile-footer-social-network {
        width: 40vw;
        display: flex;
        list-style-type: none;
        justify-content: space-between;
        margin: 0 auto;
    }
}

@media (max-width: 480px) {
    .footer__footer-section-three {
        width: 80vw;
        margin: 0 auto;
        font-size: 5vw;
        margin-bottom: 6vh;
    }
}

.footer__footer-section-three h3 {
    margin-bottom: 3vh;
    font-size: 1.04vw;
    font-weight: normal;
}

@media (max-width: 480px) {
    .footer__footer-section-three h3 {
        font-size: 4.5vw;
    }
}

.footer__footer-section-three .form-distribution .field-email-distribution {
    width: 15vw;
    height: 1.8vw;
    border: .15vw solid #ffffff;
    border-radius: 1vw;
    margin-bottom: 3vh;
    margin-left: 2vw;
}

@media (max-width: 480px) {
    .footer__footer-section-three .form-distribution .field-email-distribution {
        width: 60vw;
        height: 5vw;
        border: .45vw solid #808080;
        border-radius: 3vw;
        box-shadow: 0.05vw 0.05vw #808080, 0.1vw 0.1vw #808080, 0.15vw 0.15vw #808080, 0.2vw 0.2vw #808080, 0.25vw 0.25vw #808080, 0.3vw 0.3vw #808080, 0.35vw 0.35vw #808080;
    }
}

.footer__footer-section-three .form-distribution .button-to-email-distribution {
    display: block;
    width: 100%;
    height: 2vw;
    line-height: 2vw;
    text-align: center;
    background-color: #f69841;
    border-radius: 1.5vw;
    color: #ffffff;
    font-size: 1.144vw;
    box-shadow: 0.04vw 0.04vw #da5a58, 0.08vw 0.08vw #da5a58, 0.12vw 0.12vw #da5a58, 0.16vw 0.16vw #da5a58, 0.2vw 0.2vw #da5a58, 0.24vw 0.24vw #da5a58, 0.28vw 0.28vw #da5a58;
    border: none;
}

@media (max-width: 480px) {
    .footer__footer-section-three .form-distribution .button-to-email-distribution {
        display: block;
        width: 100%;
        height: 5vh;
        line-height: 5vh;
        text-align: center;
        background-color: #f69841;
        border-radius: 6.5vw;
        color: #ffffff;
        font-size: 1.144vw;
        box-shadow: 0.2vw 0.2vw #da5a58, 0.4vw 0.4vw #da5a58, 0.6vw 0.6vw #da5a58, 0.8vw 0.8vw #da5a58, 1vw 1vw #da5a58, 1.2vw 1.2vw #da5a58, 1.4vw 1.4vw #da5a58;
        font-size: 4vw;
    }
}

.illustration {
    width: 22vw;
    height: auto;
}

@media (max-width: 480px) {
    .illustration {
        width: 35vw;
    }
}

.illustration-section-one {
    width: 26vw;
    height: auto;
    margin-right: 8vw;
}

@media (max-width: 480px) {
    .illustration-section-one {
        height: 35vh;
        width: auto;
        margin-right: 0;
        margin-bottom: 6vh;
    }
}

.menu {
    text-align: right;
    position: absolute;
    top: 4vh;
    right: 6vw;
    display: none;
}

@media (max-width: 480px) {
    .menu {
        display: block;
    }
}

.menu__icon {
    display: none;
    width: 45px;
    height: 35px;
    position: relative;
    cursor: pointer;
    z-index: 1001;
}

.menu__icon span {
    display: block;
    position: absolute;
    height: 9px;
    width: 100%;
    background: #ffffff;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: 0.25s ease-in-out;
}

.menu__icon span:nth-child(1) {
    top: 0px;
}

.menu__icon span:nth-child(2),
.menu__icon span:nth-child(3) {
    top: 13px;
}

.menu__icon span:nth-child(4) {
    top: 26px;
}

.menu__links-item {
    display: inline-block;
    color: #333333;
    font-family: Arial;
    font-size: 14px;
    line-height: 30px;
    padding: 0 10px;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
}

.menu__links-item:hover {
    text-decoration: underline;
}

.menu.menu_state_open .menu__icon span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
}

.menu.menu_state_open .menu__icon span:nth-child(2) {
    transform: rotate(45deg);
}

.menu.menu_state_open .menu__icon span:nth-child(3) {
    transform: rotate(-45deg);
}

.menu.menu_state_open .menu__icon span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
}

.menu.menu_state_open .menu__links {
    display: block;
}

@media screen and (max-width: 999px) {
    .menu__icon {
        display: inline-block;
    }

    .menu__links {
        position: fixed;
        display: none;
        top: -4vh;
        right: 0;
        left: 0;
        margin-top: 52px;
        background-color: #f69841;
        z-index: 1000;
        overflow: auto;
    }

    .menu__links-item {
        display: block;
        padding: 10px 0;
        text-align: center;
        color: #ffffff;
    }
}